<h2>Want to know IMDB id of a movie..!Lets Start!!</h2>

<form action="/results" method = "GET">
    <input type="text" placeholder="search for a movie" name="search">
    <input type="submit" value="submit">
    
</form>